<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/clientes.css">
    <link rel="stylesheet" href="/css/inicio.css">
    <title>Document</title>
</head>
<body>

    <%- include('partials/navigation') %>

    <p id="alert-editar"></p>

    <section class="form-container">
        <div class="encabezado">DATOS</div>
        <form id="edit-form">

            <div class="form-line-contain">
                <div class="form-line">

                    <div class="line1">
                        <label>Nombres:</label>
                        <input id="edit-nombres" type="text">
                    </div>

                    <div class="line1">
                        <label>Apellidos:</label>
                        <input id="edit-apellidos"type="text">
                    </div>

                </div>

                <div class="form-line">

                    <div class="line3">
                        <label>Documento:</label>
                        <select id="edit-tipo-documento">
                            <option value="DNI">DNI</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Carnet de extranjería">Carnet de extranjería</option>
                        </select>
                    </div>

                    <div class="line1">
                        <label>Correo:</label>
                        <input id="edit-correo" type="email">
                    </div>

                </div>


                <div class="form-line">

                    <div class="line1">
                        <div class="number">
                            <label>Numero:</label>
                            <input id="edit-numero"type="text">
                        </div>
                        <button  class="buscar-button">Buscar</button>
                    </div>

                    <div class="line1">
                        <label>Celular:</label>
                        <input id="edit-celular" type="text">
                    </div>

                </div>

                <div class="form-line-2">

                    <div class="line4">
                        <label>Dirección:</label>
                        <input id="edit-direccion"type="text">
                    </div>
                </div>

                <div class="form-line">

                    <div class="line1">
                        <label>Ciudad:</label>
                        <input id="edit-ciudad" type="text">
                    </div>

                    <div class="line1">
                        <label>Provincia:</label>
                        <input id="edit-provincia"type="text">
                    </div>

                </div>


                <div class="form-line">

                    <div class="line1">
                        <label>Distrito:</label>
                        <input id="edit-distrito" type="text">
                    </div>

                    <div class="line3">
                        <label>País:</label>
                        <select id="edit-pais">
                            <option value="Peru">Perú</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Chile">Chile</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="México">México</option>
                            <option value="España">España</option>
                            <option value="Estados Unidos">Estados Unidos</option>
                            <option value="Francia">Francia</option>
                            <option value="Alemania">Alemania</option>
                            <option value="Italia">Italia</option>
                            <option value="Japón">Japón</option>
                            <option value="China">China</option>
                            <option value="India">India</option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="final-line">

                <div class="client">

                    <div class="edit-check">
                        <input type="radio"  name="cliente" value= "Nuevo">
                        <label>Cliente Nuevo</label>
                    </div>
                    <div class="edit-check">
                        <input type="radio" name="cliente" value="Potencial">
                        <label>Cliente Potencial</label>
                    </div>
                    <div class="edit-check">
                        <input type="radio" name="cliente" value="Recurrente">
                        <label>Cliente Recurrente</label>
                    </div>

                </div>

                <div class="buttons">

                    <button type="submit">Editar Cliente</button>
                    <button type="button" id="limpiar-button" >Limpiar datos</button>
                    <button id="retornar-button">Retornar</button>

                </div>

            </div>



        </form>

    </section>

    <script src="/js/edit.js"></script>
</body>
</html>