
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>
    <div class="container">
        <div class="left-section"></div>
        <div class="right-section">
            <div class="login-box">
                <img src="/img/mandala.png" alt="" class="mandala-top">
                <div class="login-cuerpo">
                    <div class="icon"><img src="/img/iconoUsuario.jpg" alt="Usuario"></div>
                    <div class="input-container">
                        <img src="/img/iusuario.png" alt="">
                        <input type="text" placeholder="Usuario">
                    </div>
                    <div class="input-container">
                        <img src="/img/icontraseña.png" alt="">
                        <input type="password" placeholder="Contraseña">
                    </div>
                    <button onclick="login()">Ingresar</button>
                </div>

            </div>
        </div>
    </div>
    <div class="logo">
        <img src="/img/logo.jpg" alt="Logo">
    </div>
    <script src="/js/login.js"></script>
</body>
</html>