body {
    margin: 0;
    padding: 0;
    /* font-family: Inter; */
}

#alert-editar{
    font-size: 15px;
    color:red;
    padding: 10px 30px;
}

.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.register-container h1 {
    font-weight: 800;
    font-size: 40px;
    color: #0D43C3;
}

.register {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.date-register {
    display: flex;
    flex-direction: column;
    border: 1px solid #026FEF;
    border-radius: 10px;
    width: 270px;
    height: 55px;
    padding: 0px 20px;
}

.date-register span {
    font-weight: 800;
    font-size: 15px;
    color: #0D43C3;

}

.form-container {
    position: relative;
    background-color: #F3F6FA;
    padding: 30px 30px;
    margin: 10px 30px;

}

.encabezado {
    position: absolute;
    left: 10px;
    top: 0;
    background-color: #026FEF;
    color: white;
    padding: 0px 10px;
    font-weight: bold;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 139px;
    height: 25px;
    text-align: center;
}

.form-line-contain {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 30px;
    gap: 30px;
}

.form-line-2 {
    padding: 0px 30px;
}

label {
    width: 80px;
}

.line1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.line1 input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #0D43C3;
}

.line1 select {
    width: 30%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #0D43C3;
    background-color: white;
}


.number {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.line1 button {
    width: 107px;
    height: 25px;
    border-radius: 27.5px;
    background-color: #026FEF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
}

.line4 {
    display: flex;
    flex-direction: row;
    gap: 27px;
}

.line4 input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #0D43C3;
}

.line3 {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.line3 select {
    width: 30%;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #0D43C3;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.final-line {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border: 2px solid #0D43C3;
    background-color: white;
    padding: 10px 40px;
    width: 600px;
}

.check {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #026FEF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 27.5px;
    font-weight: 700;
    font-size: 15px;

}

.buttons button:hover {
    background-color: #0D43C3;
}

.search-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.search-section img{
    width: 30px;
   height: 28px;
}


.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-container {
    position: relative; 
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; 
    font-size: 16px;
}

.search-input {
    width: 100%;  
    height: 25px;
    border-radius: 5px;
    border: 2px solid #0D43C3;
    box-sizing: border-box; 
}

table button img{
    width: 28px;
    height: 28px;
}
table button{
    background-color: white;
    border:none;
}

@media (max-width: 768px) {
    .register-container {
        flex-direction: column;
        gap:10px;
    }

    .register-container h1 {
        font-size: 32px;
    }

    .register{
        flex-direction: column;
        gap:10px;
        text-align: left;
    }

    .form-line{
        display:flex;
        flex-direction: column;
    }
    .line1{
        flex-direction: column;
        gap:10px;
    }
    .line3{
        flex-direction: column;
        gap:10px;
    }

    .line4{
        flex-direction: column;
        gap:10px;
    }
    .number{
        flex-direction: column;
        gap:10px; 
    }
    .line3 select{
        width: 70%;
    }

    .final-line{
        flex-direction: column;
        gap:20px;
    }

    .client {
        align-items: center;
        flex-direction: column;
        padding: 15px;
        width: 60%;
        font-size: 15px;
    }

    .check {
        justify-content: center;
    }

    .buttons {
        justify-content: center;
    }

}

@media (min-width: 768px) {
    .search-section {
        flex-direction: row;
        justify-content: space-between;
    }
}

.table-section {
    width: 100%;
    overflow-x: auto; 
    padding: 0px 30px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap; 
}


@media screen and (max-width: 768px) {
    .table {
        font-size: 14px;
    }

    .table th,
    .table td {
        padding: 8px;
    }

    .table-section {
        overflow-x: auto;
    }
} 









