<header>
    <a class="cabecera" href="#">
        <img class="" src="/img/logo.jpg" alt="">
    </a>
    <input type="checkbox" id="menu-toggle" style="display: none;">
    <label for="menu-toggle" class="menu-toggle">☰</label>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="ventas">Venta</a></li>
            <li><a href="/reportes">Reportes</a></li>
        </ul>
    </nav>
    <div class="admi"><img src="/img/iconoUsuario.jpg" alt=""></div>
</header>