<header>
    <div class="header-part-1">
        <img class="logo" src="/img/logoCRM.png" alt="Logo">
        <navbar>
            <ul class="list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Ventas</a></li>
                <li><a href="#">Reportes</a></li>
            </ul>

        </navbar>
    </div>

    <div class="header-part-2">

        <span>Administrador</span>
        <img class="user" src="/img/user.png" alt="User">

    </div>

</header>